<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TMHE search</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
</head>

<body>
    <main id="app">
        <section class="search-section">
            <input placeholder="Sök" v-model="searchVal" v-on:keyup.enter="search(searchVal)">
            <button class="icon-search" v-on:click="search(searchVal)"></button>
        </section>
        <section v-if="error">
            <p class="error">No result found</p>
        </section>
        <section class="info-section" v-if="!error">
            <h1>{{truckType}}</h1>
            <h2>{{truckSerial}}</h2>
            <ul>
                <li v-for="obj in truckProps">{{obj.key}}: {{obj.value}}</li>
            </ul>
            <div class="detail-groups">
                <a class="detail-groups__item" 
                href="#" v-on:click.prevent="showDetails()" 
                v-for="item in detailList">{{item.name}} - {{item.description}}
                <i class="js-open icon-down-open"></i>
                <i class="js-close icon-up-open"></i>
                    <div v-for="detail in item.details">
                        <p class="detial-groups__sub-item" v-for="index in detail.detail">{{index.code}} {{index.description}}</p>
                    </div>
                </a>
            </div>
        </section>
        <section class="img-section" v-if="!error">
            <figure class="img-section__img-wrapper" v-on:click.prevent="selectImg()" v-for="image in images"><img :src="image.data" :alt="image.filename"></figure>
        </section>
    </main>
</body>

</html>
