* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-size: 1rem;
    color: #333;
    padding: 1rem 2rem;
}

main {
    padding-bottom: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
span,
input {
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    font-size: 2.125rem;
    margin-bottom: 1rem;
    margin-top: 0;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0;
}

p,
li,
span,
input,
a {
    font-size: .875rem;
    color: #333;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.error {
    color: #bb001e;
}
