.detail-groups {
    margin-top: 1.5rem;

    .icon-down-open,
    .icon-up-open {
        position: absolute;
        right: .75rem;
        top: 1.125rem;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .icon-up-open {
        display: none;
    }

    .active {
        height: auto;
        font-weight: bold;
        background-color: #dadad2;

        .icon-down-open {
            display: none;
        }

        .icon-up-open {
            display: block;
        }
    }
}

.detail-groups__item {
    height: 2.5rem;
    display: block;
    background-color: #efeff0;
    margin-bottom: .5rem;
    line-height: 2.5rem;
    padding-left: .75rem;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    font-size: 1rem;
}

.detial-groups__sub-item {
    font-weight: normal;
    margin: 0;
}
