.img-section {
    display: inline-block;
    width: calc(50% - .25rem);
    padding: 0 2.5rem;
}

.img-section__img-wrapper {
    text-align: center;
    margin: 1rem 0;
}

.img-section__img-wrapper:first-child {
    height: 34rem;
    padding-bottom: 1rem;
    border-bottom: .0625rem solid #bb001e;

    img {
        max-height: 100%;
    }
}

.img-section__img-wrapper:not(:first-child) {
    height: 5rem;
    width: auto;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: .5rem;

    img {
        max-height: 100%;
        max-width: 100%;
    }
}
