.search-section {
    width: 100%;
    background-color: #efeff0;
    padding: 1rem;
    margin-bottom: 1.5rem;

    input {
        height: 3rem;
        width: 50%;
        display: inline-block;
        vertical-align: top;
        margin: 0;
        padding: 0 .5rem;
        border: .0625rem solid #bb001e;
        border-radius: .125rem 0 0 .125rem;
        border-right: none;
        font-size: 1rem;

        &::placeholder {
            font-size: 1rem;
            line-height: 3rem;
            color: #bb001e;
        }

        &:focus {
            outline: none;
        }
    }

    button {
        width: 3rem;
        display: inline-block;
        margin-left: -.25rem;
        padding: 0;
        height: 3rem;
        border-radius: 0 .125rem .125rem 0;
        color: #bb001e;
        border: .0625rem solid #bb001e;
        font-size: 1.5rem;

        &:focus {
            outline: none;
        }
    }
}
