.lm-faq-caret {
	color: #999999;
	margin-top: 5px;
	float: right;
	right: 20px;
	width: 10px;
	height: 10px;
	border-bottom: 2px solid;
	border-right: 2px solid;
	transform: rotate(45deg);
}

.lm-faq-caret--open {
	color: #999999;
	margin-top: 5px;
	float: right;
	right: 20px;
	width: 10px;
	height: 10px;
	border-bottom: 2px solid;
	border-right: 2px solid;
	transform: rotate(225deg);
}
