<section>
	<header class="js-accordion__trigger">
		<h3><!-- insert headline --> <span class="faq-caret"></span></h3>
	</header>
	<article class="js-accordion__content">
		<!-- insert content -->
	</article>
</section>