/* basic */
body {
  margin: 0;
  padding: 0;
  font-family: Verdana;
  font-size: 14px;
}
.header {
  background-color: #0b99a0;
  margin: 0;
  padding: 20px;
}
.content {
  background-color: #b2cfd1;
  margin: 0;
  padding: 20px;
}
.footer {
  background-color: #08686d;
  margin: 0;
  padding: 20px;
  color:#fff;
}
h1,h2,p {
  margin: 0;
  padding: 0;
}


/* personlist */
.person-list {
  width: 100%;
  overflow: hidden;
  list-style-type: none; 
}
.person-list li {
  width: calc(20% - 5%);
  float: left;
  margin-bottom: 25px;
  margin-right: 5%;
  min-height: 300px;
}
.person-list dl,dd,dt {
  margin: 0;
  padding: 0;
}
.person-list dt {
  font-weight: 700;
}


/* laoder */
.loader {
  text-align: center;
  display: none;
  position: relative;
  height: 40px;  
}
.loader__show {
  display: block;
}
.loader__spinner {
  width: 40px;
  height: 40px;
  background-color: #1cdfe9;
  position: absolute;
  top:0;

  margin: 12px auto 0 -20px;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    margin: 12px auto 0 50%;
  }
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}