<!DOCTYPE html>
<html class="noJS" lang="en">
	<head>
	    <title>mustache.js</title>
	    <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	    <meta name="description" content="play ground for mustache.js" />
	    <meta name="keywords" content="mustache.js , play ground, css, html" />

	    <script src="jquery-3.3.1.min.js"></script>
	    <script src="mustache.min.js"></script>
	    <script src="js.js"></script>
		<link rel="stylesheet" href="css.css">
	</head>
	<body>
		<header class="header">
			<h1>A Awesome Header</h1>
			<p>bla bla bla</p>
		</header>
		<section class="content">
			<div class="loader js-popover-loader">
				<span class="loader__spinner"></span>
			</div>
			<script id="persons" type="text/html">
				<ul class="person-list">
			    {{#.}}
					<li>
				    	<dl>
							<dt>Name :</dt>
							<dd>{{title}}</dd>
							<dt>Text :</dt>
							<dd>{{body}}</dd>
						</dl>
				    </li>
				{{/.}}
				</ul>
			</script>
			<span class="js-json" data-url="https://jsonplaceholder.typicode.com/posts" >
				This is where the product should appear, you can have text here and this will be replaced with your mustashe code ;)
			</span>

			<div> </div>
			<div> </div>
			<div> </div>
			<div> </div>
		</section>    
		<footer class="footer">
			<h2>A Great Footer</h2>
			<p>bla bla bla</p>			
		</footer>
	</body>
</html>