html {
    font-size: 18px;
    font-family: monospace;
}

main {
    width: 60vw;
    display: grid;
    margin: 0 auto;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, calc(100% / 3));
}

main div {
    display: grid;
    padding: 1.5rem;
    border: 1px solid silver;
    justify-content: center;
    justify-items: center;
    align-content: space-between;
}

main div img, main div svg {
    height: 150px;
    margin-bottom: 1rem;
}

.access-label {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}
